
@model schoolmanagementsystem.Models.ViewModels.TeacherViewModels.UpdateTeacherViewModel;
<div class="wrapper">
    <form method="post">
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Teacher Id</label>
            <input type="text" class="form-control" id="recipient-name" readonly placeholder="Product Name" asp-for="TeacherId">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Teacher Name</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Name" asp-for="Name">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label"> Image url</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Imgaes" asp-for="Picture">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Subject</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="Subject" asp-for="Subject">
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">PhoneNumber</label>
            <input type="text" class="form-control" id="recipient-name" placeholder="PhoneNumber" asp-for="PhoneNumber">
        </div>

        <div>

            <button type="submit" class="btn btn-primary">Update Teacher</button>

        </div>
    </form>
</div>